html
  head
    title!= title
    style
      include style.css
  body
    script
      include refresh.js
    h2 当前比特币价格 #{message.cur_price} rmb
    h3 全网算力 #{message.cur_hashRate} PH/s
    h3 当前平均难度上涨百分比 #{message.cur_p} %
    h3 24h开采量 #{message.btcs24h} btc
    div
      table
        thead
            tr
                th 矿机名
                th 价格
                th 算力
                th 每G成本
                th 瓦数
                th 电力成本
                th 日收益btc
                th 日收益rmb
                th 回本天数
                th 每币成本
        tbody
          each device in message.devices
            tr
              td 
                span!=device.name
              td 
                span!=device.rmb
              td 
                span!=device.speed
              td 
                span!=device.perGhs
              td 
                span!=device.watt
              td 
                span!=device.perPGhs
              td 
                span!=device.perDay
              td 
                span!=device.perDayCNY
              td 
                span!=device.costRecovery
              td
                span!=device.perBtcCost
    h3 如果您觉得这个工程对您有用，欢迎打赏我一点比特币，以鼓励我继续写下去。
    h3 我的BTC地址：19EKhb1yxWGx73t52MvudcRaPqAiMVeswP



